{% extends 'layout/master.html' %}

{% load filter_map %}

{% block pagetitle %}
    <h3>Вакансия "{{ vacancy.profession }}" от {{ vacancy.employer.title }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Организация</dt>
            <dd>{{ vacancy.employer.title }}</dd>
            <dt>Профессия</dt>
            <dd>{{ vacancy.profession }}</dd>
            {% if vacancy.age_min or vacancy.age_max %}
                <dt>Возраст</dt>
                <dd>
                    {% if vacancy.age_min %}от {{ vacancy.age_min }}{% endif %}
                    {% if vacancy.age_max %}до {{ vacancy.age_max }}{% endif %}
                </dd>
            {% endif %}
            {% if vacancy.salary_min or vacancy.salary_max %}
                <dt>Заработная плата</dt>
                <dd>
                    {% if vacancy.salary_min %}от {{ vacancy.salary_min }}{% endif %}
                    {% if vacancy.salary_max %}до {{ vacancy.salary_max }}{% endif %}
                    {{ vacancy.salary_currency }}
                </dd>
            {% endif %}
            {% if vacancy.details %}
                <dt>Доп. информация</dt>
                <dd>{{ vacancy.details }}</dd>
            {% endif %}
            <dt>Опубликовано</dt>
            <dd>{{ vacancy.publish_date }}</dd>
        </dl>
    </div>

    {% ifequal user.profile vacancy.employer.profile %}
        {% for r in responses %}
            <div class="media alert alert-success">
                <a class="pull-left" href="">
                    <img class="media-object" src="{{ STATIC_URL }}own/img/ball.jpg" alt="...">
                </a>

                <div class="pull-right text-center">
                    <div>
                        <small>{{ r.response_date|date:"H:i:s" }}</small>
                    </div>
                    <div>
                        <small>{{ r.response_date|date:"d.m.Y" }}</small>
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{ r.applicant.full_name|default:r.applicant }}</h4>
                    {{ r.text }}
                </div>
            </div>
        {% empty %}
            Откликов нет
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            <div>Список откликов доступен только владельцу вакансии</div>
            <div>Общее число откликов на данную вакансию: <strong>{{ responses|length }}</strong></div>
        </div>
    {% endifequal %}

    {% if my_response %}
        <h4>Ваш отклик</h4>
        <div class="media alert alert-success">
            <a class="pull-left" href="">
                <img class="media-object" src="{{ STATIC_URL }}own/img/ball.jpg" alt="...">
            </a>

            <div class="pull-right text-center">
                <div>
                    <small>{{ my_response.response_date|date:"H:i:s" }}</small>
                </div>
                <div>
                    <small>{{ my_response.response_date|date:"d.m.Y" }}</small>
                </div>
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{ my_response.applicant.full_name|default:my_response.applicant }}</h4>
                {{ my_response.text }}
            </div>
        </div>
    {% endif %}

    <div class="row text-center">
        {% if user.profile.is_applicant and not user.profile in vacancy.response_set.all|map:"applicant"|map:"profile" %}
            <a class="btn btn-success" href="{% url 'CreateResponse' vacancy.id %}">Откликнуться</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'Vacancies' %}">К списку вакансий</a>
        {% if user.profile.is_employer %}
            <a class="btn btn-default" href="{% url 'MyVacancies' %}">К списку моих вакансий</a>
        {% endif %}
    </div>

{% endblock %}