{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header">
        <h3>
            {% if form.instance.pk %}
                Редактрирование информации о вакансии "{{ form.instance.profession }}"
            {% else %}
                Добавление вакансии
            {% endif %}
        </h3>
    </div>

    <div class="row">
        {% if form.errors %}
            <div class="alert alert-danger">
                <b>Исправьте следующие ошибки:</b>
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><b>{{ field.label }}</b> - {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form id="form-vacancy" action="." method="post">{% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Опубликовать вакансию</button>
            <a class="btn btn-default" href="{% url 'Vacancies' %}">К списку вакансий</a>
        </form>
    </div>

{% endblock %}