{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header text-center">
        <h3>
            {% if form.instance.pk %}
                Редактрирование информации о вакансии "{{ form.instance.profession }}"
            {% else %}
                Добавление вакансии
            {% endif %}
        </h3>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <b>Исправьте следующие ошибки:</b>
                    {{ form.non_field_errors }}
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><b>{{ field.label }}</b> - {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form id="form-vacancy" action="." method="post">{% csrf_token %}

                <div class="form-group">
                    <label for="profession">Профессия</label>
                    {{ form.profession }}
                </div>

                <div class="form-group">
                    <label for="position">Должность</label>
                    {{ form.position }}
                </div>

                <div class="form-group">
                    <label for="">Возраст</label>

                    <div class="row">
                        <div class="col-md-1 text-center">от</div>
                        <div class="col-md-3">
                            {{ form.age_min }}
                        </div>
                        <div class="col-md-1 text-center">до</div>
                        <div class="col-md-3">
                            {{ form.age_max }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Заработная плата</label>

                    <div class="row">
                        <div class="col-md-1 text-center">от</div>
                        <div class="col-md-3">
                            {{ form.salary_min }}
                        </div>
                        <div class="col-md-1 text-center">до</div>
                        <div class="col-md-3">
                            {{ form.salary_max }}
                        </div>
                        <div class="col-md-3">
                            {{ form.salary_currency }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="details">Дополнительная информация</label>
                    {{ form.details }}
                </div>

                {{ form.employer }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        {% if form.instance.pk %}
                            Сохранить изменения
                        {% else %}
                            Опубликовать вакансию
                        {% endif %}
                    </button>
                    <a class="btn btn-default" href="{% url 'Vacancies' %}">К списку вакансий</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}