{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header">
        <h3>Список вакансий</h3>

        <div>
            <a class="btn btn-success" href="{% url 'CreateVacancy' %}">Создать вакансию</a>
        </div>
    </div>



    {% if vacancies %}
        <table class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>Организация</th>
                <th>Профессия</th>
                <th>Заработная плата</th>
                <th>Дата подачи</th>
                <th>Отклики</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for vacancy in vacancies %}
                <tr>
                    <td>
                        {{ vacancy.employer.title }}
                    </td>
                    <td>
                        {{ vacancy.profession }}
                    </td>
                    <td>
                        {% if vacancy.salary_min %}
                            от {{ vacancy.salary_min }} {{ vacancy.salary_currency }}
                        {% endif %}
                        {% if vacancy.salary_max %}
                            до {{ vacancy.salary_max }} {{ vacancy.salary_currency }}
                        {% endif %}
                    </td>
                    <td>
                        {{ vacancy.date_publish }}
                    </td>
                    <td>
                        {{ vacancy.vacancyresponse_set.count }}
                    </td>
                    <td>
                        {% if user.profile.is_employer %}
                            {% ifequal vacancy.employer.profile user.profile %}
                                <a class="btn btn-xs btn-warning" href="{% url 'UpdateVacancy' vacancy.id %}">Редактировать</a>
                                <a class="btn btn-xs btn-danger" href="{% url 'DeleteVacancy' vacancy.id %}">Удалить</a>
                            {%  endifequal %}
                        {% else %}
{#                            {% if user.profile in vacancy.vacancyresponse_set__applicant %}#}
                                <a class="btn btn-xs btn-primary" href="{% url 'VacancyResponse' vacancy.id %}">Откликнуться</a>
{#                            {% endif %}#}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="{% url 'Vacancies' page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class='active'>
                    <span class="page-current">{{ page_obj.number }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li>
                        <a href="{% url 'Vacancies' page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <h5>Вакансий нет</h5>
    {% endif %}

{% endblock %}