{% extends 'layout/master.html' %}

{% block pagetitle %}
    <h3>Восстановление пароля. Шаг 1.</h3>
{% endblock %}

{% block content %}
    <p>Вы забыли свой пароль? Введите e-mail указанный при регистрации, и мы вышлем вам на почту инструкции по
        востановлению пароля.</p>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="" method="post">{% csrf_token %}

                {% include 'layout/form_errors.html' with form=form %}

                <div class="form-group">
                    <label for="id_email">E-mail:</label>
                    <input id="id_email" maxlength="254" name="email" class="form-control" type="email">
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Выслать инструкции"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}