{% extends "layout/master.html" %}

{% load tag_error_manager %}

{% block pagetitle %}
    <h3>Восстановление пароля. Шаг 3.</h3>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль (дважды).</p>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="" method="post">{% csrf_token %}
                    {% include 'layout/form_errors.html' with form=form %}

                    <div class="form-group">
                        <label for="id_new_password1">Новый пароль:</label>
                        <input id="id_new_password1" class="form-control" name="new_password1" type="password">
                    </div>

                    <div class="form-group">
                        <label for="id_new_password2">Подтвердите пароль:</label>
                        <input id="id_new_password2" class="form-control" name="new_password2" type="password">
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Сменить пароль"/>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Восстановление пароля прервано</h1>
        <p>Ссылка восстановления пароля не соответствует той, что была отправлена вам в письме</p>
    {% endif %}
{% endblock %}