{% extends 'layout/master.html' %}

{% block content %}
    <form class="form form-horizontal" action='' method="POST" id="form-register">{% csrf_token %}
        <h2 class="text-center">Регистрация</h2>
        {% include 'layout/form_errors.html' with form=form %}

        <div class="form-group">
            <!-- Username -->
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" placeholder="Vasya" class="form-control">

            <p class="help-block">Имя пользователя может содержать буквы и цифры без пробелов</p>
        </div>

        <div class="form-group">
            <!-- E-mail -->
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" placeholder="example@gmail.com" class="form-control">

            <p class="help-block">Пожалуйста, введите ваш E-mail</p>
        </div>

        <div class="form-group">
            <!-- Password-->
            <label for="password1">Пароль</label>
            <input type="password" id="password1" name="password1" class="form-control">

            <p class="help-block">Пароль должен содержать минимум 4 символа</p>
        </div>

        <div class="form-group">
            <!-- Password -->
            <label for="password2">Подтверждение пароля</label>
            <input type="password" id="password2" name="password2" class="form-control">

            <p class="help-block">Пожалуйста, введите повторно пароль</p>
        </div>

        <div class="text-center">
            <button class="btn btn-success">Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}