{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header">
        <h3>Отклик на вакансию {{ response.vacancy.employer.title }} "{{ response.vacancy.profession }}"</h3>
    </div>

    <div>
        <p>{{ response.text }}</p>
    </div>

    <div class="text-center">
        {% if user.profile.is_applicant %}
            <a class="btn btn-default" href="{% url 'Vacancies' %}">Все вакансии</a>
            <a class="btn btn-default" href="{% url 'MyResponses' %}">Мои отклики</a>
        {% elif user.profile.is_employer %}
            <a class="btn btn-default" href="{% url 'Vacancies' %}">Все вакансии</a>
            <a class="btn btn-default" href="{% url 'MyVacancies' %}">Мои вакансии</a>
            <a class="btn btn-default" href="{% url 'ResponsesForMyVacancies' %}">Отклики на мои вакансии</a>
        {% endif %}
    </div>

{% endblock %}