textarea {
    resize: none;
}

#page-container{
    padding-top: 60px;
}

.page-header {
    margin-top: 20px !important;
}

table.td-to-top td{
    vertical-align: top;
}

/* -------------- login.html --------------- */
#form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* -------------- register.html --------------- */
#form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}