#page-container{
    padding-top: 60px;
}

/* -------------- login.html --------------- */
#form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#form-signin h2 {
    margin-bottom: 30px;
}

#form-signin input {
    margin-bottom: 15px;
}

#form-signin button {
    margin-top: 30px;
}

/* -------------- register.html --------------- */
#form-register {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}