{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header text-center">
        <h3>Мой профиль</h3>
    </div>

    <form action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">Контактная информация</h4>

                {% if profile.errors %}
                    <div class="alert alert-danger">
                        <b>Исправьте следующие ошибки:</b>
                        {{ profile.non_field_errors }}
                        <ul>
                            {% for field in profile %}
                                {% for error in field.errors %}
                                    <li><b>{{ field.label }}</b> - {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{ profile.as_p }}
            </div>
            <div class="col-md-6">
                <h4 class="text-center">О себе</h4>

                {% if about_me.errors %}
                    <div class="alert alert-danger">
                        <b>Исправьте следующие ошибки:</b>
                        {{ about_me.non_field_errors }}
                        <ul>
                            {% for field in about_me %}
                                {% for error in field.errors %}
                                    <li><b>{{ field.label }}</b> - {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{ about_me.as_p }}
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-success">Сохранить</button>
            {% if user.profile.is_applicant %}
                <a class="btn btn-default" href="{% url 'ApplicantHome' %}">Домой</a>
            {% elif user.profile.is_employer %}
                <a class="btn btn-default" href="{% url 'EmployerHome' %}">Домой</a>
            {% endif %}
        </div>

    </form>



{% endblock %}