<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>
                <a href="{% url 'Applications' %}">Заявления</a>
            </strong>
        </div>
    </div>

    <div class="panel-body">
        {% for a in last_applications %}
            <div class="media">
                <a class="pull-left" href="{% url 'ShowApplication' a.id %}">
                    {#                    <img class="media-object" src="{{ STATIC_URL }}own/img/application.png" alt="...">#}
                    <img class="media-object" src="{{ a.applicant.photo }}" height="64" width="64" alt="...">
                </a>

                <div class="pull-right text-center">
                    <div>
                        <small>{{ a.publish_date|date:"H:i:s" }}</small>
                    </div>
                    <div>
                        <small>{{ a.publish_date|date:"d.m.Y" }}</small>
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'ShowApplication' a.id %}">
                            {{ a.profession }}
                        </a>
                        {% if e.experience %}
                            <small>(стаж {{ a.experience }}лет)</small>
                        {% endif %}
                    </h4>
                    {{ a }}
                </div>
            </div>
        {% empty %}
            Заявлений нет
        {% endfor %}
    </div>
</div>
