<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>
                <a href="{% url 'ResponsesForMyVacancies' %}">Отклики на мои вакансии</a>
            </strong>
        </div>
    </div>

    <div class="panel-body">
        {% for r in last_responses_for_my_vacancies %}
            <div class="media">
                <a class="pull-left" href="{% url 'ShowResponse' r.id %}">
                    <img class="media-object" src="{{ STATIC_URL }}own/img/response.png" alt="...">
                </a>

                <div class="pull-right text-center">
                    <div>
                        <small>{{ r.response_date|date:"H:i:s" }}</small>
                    </div>
                    <div>
                        <small>{{ r.response_date|date:"d.m.Y" }}</small>
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'ShowResponse' r.id %}">
                            {{ r.vacancy.profession }}
                        </a>
                        <small>{{ r.vacancy.employer.title }}</small>
                    </h4>
                    {{ r.text }}
                </div>
            </div>
        {% empty %}
            Откликов нет
        {% endfor %}
    </div>
</div>