<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong><a href="{% url 'MyApplications' %}">Мои заявления</a></strong>
        </div>
    </div>

    <div class="panel-body">
        {% for a in my_last_applications %}
            <div class="media">
                <a class="pull-left" href="{% url 'UpdateApplication' a.id %}">
                    <img class="media-object" src="{{ STATIC_URL }}own/img/ball.jpg" alt="...">
                </a>

                <div class="pull-right text-center">
                    <div>
                        <small>{{ a.publish_date|date:"H:i:s" }}</small>
                    </div>
                    <div>
                        <small>{{ a.publish_date|date:"d.m.Y" }}</small>
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{ a.profession }}
                        {% if a.experience %}
                            <small>(стаж {{ a.experience }}лет)</small>
                        {% endif %}
                    </h4>
                    {{ a }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>