<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-tasks"></i>
            Вакансии
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'Vacancies' %}">
                    <i class="glyphicon glyphicon-list"></i>
                    Все вакансии
                </a>
            </li>
            <li>
                <a href="{% url 'MyResponses' %}">
                    <i class="glyphicon glyphicon-tags"></i>
                    Мои отклики
                </a>
            </li>
        </ul>
    </li>


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-tasks"></i>
            Поиск работы
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'CreateApplication' %}">
                    <i class="glyphicon glyphicon-plus"></i>
                    Создать заявление
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'Applications' %}">
                    <i class="glyphicon glyphicon-list"></i>
                    Все заявления
                </a>
            </li>
            <li>
                <a href="{% url 'MyApplications' %}">
                    <i class="glyphicon glyphicon-list"></i>
                    Мои заявления
                </a>
            </li>
        </ul>
    </li>
</ul>


<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Добро пожаловать, <strong>{{ user.username }}</strong>.
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Профиль</li>
            <li>
                <a href="{% url 'ShowProfile' user.profile.id %}">
                    <i class="glyphicon glyphicon-user"></i>
                    Смотреть
                </a>
            </li>
            <li>
                <a href="{% url 'UpdateProfile' %}">
                    <i class="glyphicon glyphicon-cog"></i>
                    Редактировать
                </a>
            </li>
            <li>
                <a href="{% url 'password_change' %}">
                    <i class="glyphicon glyphicon-wrench"></i>
                    Сменить пароль
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'Logout' %}">
                    <i class="glyphicon glyphicon-leaf"></i>
                    Выход
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Помощь
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'About' %}">
                    <i class="glyphicon glyphicon-list"></i>
                    О программе
                </a>
            </li>
        </ul>
    </li>
</ul>