<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">ИС "Агентство занятости"</div>
        </div>
        <div class="navbar-collapse collapse">
            {% if user.profile.is_applicant %}
                {% include 'layout/menu/menu_applicant.html' %}
            {% elif user.profile.is_employer %}
                {% include 'layout/menu/menu_employer.html' %}
            {% else %}
                {% include 'layout/menu/menu_anonymous.html' %}
            {% endif %}
        </div>
    </div>
</div>