<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">ИС "Агентство занятости"</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    {% if user.profile.is_employer %}
                        <a href="{% url 'EmployerHome' %}">
                            <i class="glyphicon glyphicon-home"></i>
                            Домой
                        </a>
                    {% elif user.profile.is_applicant %}
                        <a href="{% url 'ApplicantHome' %}">
                            <i class="glyphicon glyphicon-home"></i>
                            Домой
                        </a>
                    {% else %}
                        <a href="{% url 'Home' %}">
                            <i class="glyphicon glyphicon-home"></i>
                            Домой
                        </a>
                    {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-tasks"></i>
                        Вакансии
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'Vacancies' %}">
                                <i class="glyphicon glyphicon-list"></i>
                                Все вакансии
                            </a>
                        </li>
                        {% if user.profile.is_employer %}
                            <li>
                                <a href="{% url 'MyVacancies' %}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Мои вакансии
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'CreateVacancy' %}">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Создать вакансию
                                </a>
                            </li>
                        {% elif user.profile.is_applicant %}
                            <li>
                                <a href="{% url 'MyResponses' %}">
                                    <i class="glyphicon glyphicon-tags"></i>
                                    Мои отклики
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-tasks"></i>
                        Резюме
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'CVs' %}">
                                <i class="glyphicon glyphicon-list"></i>
                                Все резюме
                            </a>
                        </li>
                        {% if user.profile.is_applicant %}
                            <li>
                                <a href="{% url 'MyCVs' %}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Мои резюме
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'CreateCV' %}">
                                    <i class="glyphicon glyphicon-tags"></i>
                                    Создать резюме
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Помощь
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'About' %}">
                                <i class="glyphicon glyphicon-list"></i>
                                О программе
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'Logout' %}">Выйти</a>
                    </li>
                </ul>
                <div class="navbar-right">
                    <div class="navbar-text">Добро пожаловать, <strong>{{ user.username }}</strong>.</div>
                </div>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'Login' %}">Войти</a></li>
                </ul>
            {% endif %}

        </div>
    </div>
</div>