{% extends 'layout/master.html' %}

{% block pagetitle %}
    <h3>
        Заявление соискателя {{ application.applicant.full_name }}
    </h3>
{% endblock %}

{% block content %}
    <p>{{ application }}</p>

    <div class="text-center">
        {% ifequal user.profile application.applicant.profile %}
            <a class="btn btn-warning" href="{% url 'UpdateApplication' application.id %}">Редактировать</a>
            <a class="btn btn-danger" href="{% url 'DeleteApplication' application.id %}">Удалить</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'ShowProfile' application.applicant.id %}">Профиль пользователя</a>
        {% endifequal %}
        <a class="btn btn-default" href="{% url 'Applications' %}">Все резюме</a>
        {% if user.profile.is_applicant %}
            <a class="btn btn-default" href="{% url 'MyApplications' %}">Мои резюме</a>
        {% endif %}
    </div>
{% endblock %}
