{% extends 'layout/master.html' %}

{% block content %}

    <div class="page-header">
        <h3>
            Заявление соискателя {{ application.applicant.full_name }}
        </h3>
    </div>

    <p>{{ application }}</p>

    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'ShowProfile' application.applicant.id %}">Профиль пользователя</a>
        <a class="btn btn-default" href="{% url 'Applications' %}">Все резюме</a>
        {% if user.profile.is_applicant %}
            <a class="btn btn-default" href="{% url 'MyApplications' %}">Мои резюме</a>
        {% endif %}
    </div>
{% endblock %}
