{% extends 'layout/master.html' %}

{% block pagetitle %}
    <div class="col-md-8">
        <h3 style="margin-top: 0">
            {{ page_header }}
            {% if user.profile.is_applicant %}
                <a style="margin-left: 20px;" class="btn btn-success" href="{% url 'CreateApplication' %}">
                    <i class="glyphicon glyphicon-plus"></i>
                    Создать заявление
                </a>
            {% endif %}
        </h3>
    </div>
    <div class="col-md-4">
        <form action="." method="post">{% csrf_token %}
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Профессия:</span>
                <input type="text" name="tag" class="form-control" value="{{ tag }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block content %}
    {% if applications %}
        <table class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>Соискатель</th>
                <th>Профессия</th>
                <th>Возраст</th>
                <th>Стаж</th>
                <th>Последнее изменение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for a in applications %}
                <tr>
                    <td><a href="{% url 'ShowProfile' a.applicant.profile.id %}">{{ a.applicant.full_name }}</a></td>
                    <td>{{ a.profession }}</td>
                    <td>
                        {% if a.applicant.birth_date %}
                            {{ a.applicant.age }} лет
                        {% else %}-
                        {% endif %}
                    </td>
                    <td>{{ a.experience|default:"-" }}</td>
                    <td>{{ a.publish_date|date:"d.m.Y H:i:s" }}</td>
                    <td>
                        <a class="btn btn-success btn-xs" href="{% url 'ShowApplication' a.id %}">Просмотр</a>
                        {% if user.profile.is_applicant %}
                            {% ifequal a.applicant.profile user.profile %}
                                <a class="btn btn-xs btn-warning" href="{% url 'UpdateApplication' a.id %}">Редактировать</a>
                                <a class="btn btn-xs btn-danger" href="{% url 'DeleteApplication' a.id %}">Удалить</a>
                            {% endifequal %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                    <li>
                        {% if tag %}
                            <a href="{% url this tag=tag page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        {% else %}
                            <a href="{% url this page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    </li>
                {% endif %}
                <li class='active'>
                    <span class="page-current">{{ page_obj.number }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li>
                        {% if tag %}
                            <a href="{% url this tag=tag page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% else %}
                            <a href="{% url this page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <h5>Заявлений нет</h5>
    {% endif %}


{% endblock %}