{% extends 'layout/master.html' %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Представляем вашему внимание информационную систему "Агентство занятости". На данном сайте вы можете зарегистрироваться в качестве Работодателя либо Соискателя. Работодатели могут публиковать объявления о вакансиях. Соискатели могут откликаться на вакансии либо оставлять собственные резюме.</p>
        <p><a class="btn btn-primary btn-lg">Узнать больше »</a></p>
      </div>
    </div>
{% endblock %}