{% extends 'layout/master.html' %}

{% block pagetitle %}
    <h3>О программе</h3>
{% endblock %}

{% block content %}
    РАЗРАБОТКА АВТОМАТИЗИРОВАННОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ АГЕНТСТВА ЗАНЯТОСТИ

Глава 1. Анализ предметной области и создание концептуальной модели.

1.1. Анализ предметной области

Деятельность, направленная на выявление реальных потребностей заказчика, а также на выяснения смысла высказанных требований,
называется анализом предметной области (бизнес-моделированием, если речь идет о потребностях коммерческой организации).
Анализ предметной области – это первый шаг этапа системного анализа, с которого начинается разработка программной системы.
Разработчики должны научиться:
    - понимать язык, на котором говорят заказчики;
    - выявить цели их деятельности;
    - определить набор решаемых ими задач;
    - определить набор сущностей, с которыми приходится иметь дело при решении этих задач.

Список терминов и сокращений:
    1. АСУ
    2. ИС
    3. АИС
    4. Соискатель
    5. Вакансия
    6. Работодатель
    7. Отклик на вакансию
    8. Заявка соискателя
    9. Администратор

Пользователи АИС: #############################    цели
    1. Работодатель
    2. Соискатель
    3. Анонимный пользователь

Задачи, решаемые пользователями АИС:
    1. Регистрация (Работодатель, Соискатель)
    2. Вход в систему (Работодатель, Соискатель)
    3. Выход из системы (Работодатель, Соискатель)
    4. Восстановление пароля (Работодатель, Соискатель)
    5. Просмотр списка "Все вакансии" (Работодатель, Соискатель, Анонимный пользователь)
    6. Просмотр списка "Мои вакансии" (Работодатель)
    7. Добавление вакансии (Работодатель)
    8. Просмотр информации о вакансии (Работодатель, Соискатель, Анонимный пользователь)
    9. Редактирование вакансии (Работодатель)
    10. Удаление вакансии (Работодатель)
    11. Просмотр списка "Все заявки соискателя" (Работодатель, Соискатель, Анонимный пользователь)
    12. Просмотр списка "Мои заявки соискателя" (Соискатель)
    13. Добавление заявки соискателя (Соискатель)
    14. Просмотр заявки соискателя (Работодатель, Соискатель, Анонимный пользователь)
    15. Редактирование заявки соискателя (Соискатель)
    16. Удаление заявки соискателя (Соискатель)
    17. Отклик на вакансию (Соискатель)
    18. Просмотр списка "Мои отклики" (Соискатель)
    19. Просмотр списка "Отклики на мои вакансии" (Работодатель)
    20. Просмотр отклика (Работодатель, Соискатель)

Список сущностей, присутствующих в бизнес процессе:
    1. Вакансия
    2. Отклик
    3. Заявка соискателя
1.2. Создание концептуальной модели

Глава 2. Выбор программных средств.
{% endblock %}