{% extends 'layout/master.html' %}

{% block content %}

    <table class="td-to-top">
        <tr class="row">
            <td class="col-md-6">{% include 'partition_template/employer_home/applications.html' %}</td>
            <td class="col-md-6">{% include 'partition_template/employer_home/my_vacancies.html' %}</td>
        </tr>
        <tr class="row">
            <td class="col-md-6">{% include 'partition_template/profile.html' %}</td>
            <td class="col-md-6">{% include 'partition_template/employer_home/responses_for_my_vacancies.html' %}</td>
        </tr>
    </table>

{% endblock %}