{% extends 'layout/master.html' %}

{% block content %}
    <form id="form-signin">
        <h2 class="form-signin-heading">Войдите в систему</h2>
        <label>E-mail</label>
        <input type="text" class="form-control" placeholder="example@gmail.com" autofocus="">
        <label>Пароль</label>
        <input type="password" class="form-control" placeholder="Password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <a class="pull-left" href="{% url 'Register' %}">Регистрация</a>
        <a class="pull-right" href="{% url 'Recovery' %}">Забыли пароль?</a>
    </form>
{% endblock %}