{% extends 'layout/master.html' %}

{% block content %}
    <form class="form-horizontal" action='' method="POST" id="form-register">
        <fieldset>
            <h2>Регистрация</h2>
            <div>
                <!-- Username -->
                <label class="control-label" for="username">Username</label>

                <div class="">
                    <input type="text" id="username" name="username" placeholder="" class="form-control">

                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div>
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>

                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="form-control">

                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div>
                <!-- Password-->
                <label class="control-label" for="password">Password</label>

                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="form-control">

                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div>
                <!-- Password -->
                <label class="control-label" for="password_confirm">Password (Confirm)</label>

                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                           class="form-control">

                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div>
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Зарегистрироваться</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}